<app-bg-spinner *ngIf="!isDataLoaded"></app-bg-spinner>

<div *ngIf="isDataLoaded" class="container">
  <app-general-toolbar title="Pending Users" subtitle="We found {{ pendingUsers?.length }} results">
    <div toolbar-controls class="toolbar-controls">
      <dx-button
        icon="spindown"
        text="Manage columns"
        stylingMode="outlined"
        [rtlEnabled]="true"
        (onClick)="openColumnChooserButtonClick()"
      ></dx-button>
      <dx-button icon="file" (onClick)="onExport()" stylingMode="outlined"></dx-button>
      <dx-text-box placeholder="Search..." (keyup)="onSearch($event)" height="34"></dx-text-box>
    </div>
  </app-general-toolbar>

  <section class="content-section">
    <dx-data-grid
      class="data-grid"
      [dataSource]="pendingUsers"
      [showBorders]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [columnAutoWidth]="true"
      [remoteOperations]="false"
    >
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-load-panel [enabled]="true" [indicatorSrc]="indicatorSrc"></dxo-load-panel>
      <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>

      <dxi-column dataField="username" caption="Email" type="string"></dxi-column>

      <dxi-column
        dataField="accountState"
        caption="Status"
        cellTemplate="accountStateTemplate"
        [width]="190"
        [calculateCellValue]="calculateDisplayValue"
      ></dxi-column>
      <div *dxTemplate="let item of 'accountStateTemplate'">
        <app-status-item
          [type]="item.data.accountState | statusColor: 'companyMemberAccountState'"
          [text]="item.displayValue"
        ></app-status-item>
      </div>

      <dxi-column
        [allowReordering]="false"
        [allowHiding]="false"
        [allowGrouping]="false"
        [width]="48"
        cssClass="actions-column"
        cellTemplate="actionsTemplate"
      ></dxi-column>
      <div *dxTemplate="let item of 'actionsTemplate'">
        <dx-drop-down-button
          icon="/assets/images/icons/overflow.svg"
          [showArrowIcon]="false"
          class="actions-dropdown-btn"
          [dropDownOptions]="{ width: 180 }"
          [disabled]="item.data.accountState !== memberAccountState.NOT_ACTIVE"
        >
          <dxi-item (click)="onResendEmail(item.data)">Resend Activation Email</dxi-item>
        </dx-drop-down-button>
      </div>
    </dx-data-grid>
  </section>
</div>
