@mixin container-shadow() {
  box-shadow: 0 8px 16px rgba(111, 113, 129, 24%);
  border-radius: 4px;
  border-color: transparent;
}

@mixin container-button-states($color) {
  background-color: $color;

  &.dx-state-hover,
  &.dx-state-focused {
    background-color: darken($color, 9%);
  }

  &.dx-state-active {
    background-color: darken($color, 15%);
  }
}

@mixin outlined-button-states($borderColor, $bgColor: #fff, $textColor: false) {
  border-color: $borderColor;
  background-color: $bgColor;

  @if $textColor {
    color: $textColor;
  }

  &.dx-state-hover,
  &.dx-state-focused {
    border-color: darken($borderColor, 9%);
    background-color: darken($bgColor, 9%);

    @if $textColor {
      color: darken($textColor, 9%);
    }
  }

  &.dx-state-active {
    border-color: darken($borderColor, 15%);
    background-color: darken($bgColor, 15%);

    @if $textColor {
      color: darken($textColor, 15%);
    }
  }
}
