@use 'sass:color' as color;

@mixin container-shadow() {
  box-shadow: 0 8px 16px rgba(111, 113, 129, 24%);
  border-radius: 4px;
  border-color: transparent;
}

@mixin container-button-states($color) {
  background-color: $color;

  &.dx-state-hover,
  &.dx-state-focused {
    background-color: color.adjust($color, $lightness: -9%);
  }

  &.dx-state-active {
    background-color: color.adjust($color, $lightness: -15%);
  }
}

@mixin outlined-button-states($borderColor, $bgColor: #fff, $textColor: false) {
  border-color: $borderColor;
  background-color: $bgColor;

  @if $textColor {
    color: $textColor;
  }

  &.dx-state-hover,
  &.dx-state-focused {
    border-color: color.adjust($borderColor, $lightness: -9%);
    background-color: color.adjust($bgColor, $lightness: -9%);

    @if $textColor {
      color: color.adjust($textColor, $lightness: -9%);
    }
  }

  &.dx-state-active {
    border-color: color.adjust($borderColor, $lightness: -15%);
    background-color: color.adjust($bgColor, $lightness: -15%);

    @if $textColor {
      color: color.adjust($textColor, $lightness: -15%);
    }
  }
}
