$default: #346ea7;
$light-blue: #69bbe8;
$light-gray: #f4f4f4;
$light-gray-2: #ebf0f7;
$light-gray-3: #f9fbfe;
$gray: #8d959e;
$black: #212121;
$green: #8ed03a;
$red: #ff5f49;
$light-red: #ff7c6a;
$error: #d9534f;
$orange: #ff8b49;
