@use 'variables' as *;

.sidenav-menu {
  .dx-button-content {
    justify-content: flex-start;
    padding-left: 15px;
  }
}

.sidenav-user-btn {
  .dx-button {
    text-align: left;
  }

  .dx-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .dx-button-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
