%loading-btn-state {
  position: relative;

  .dx-button-content {
    display: flex;
    justify-content: center;
    padding-left: 30px;

    &::before {
      content: '';
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 8px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &.button-small {
    .dx-button-content {
      &::before {
        width: 14px;
        height: 14px;
      }
    }
  }
}

.dx-button {
  &.loading {
    @extend %loading-btn-state;

    .dx-button-content {
      &::before {
        background-image: url('/assets/images/spinner-white.svg');
      }
    }
  }

  &.loading-blue {
    @extend %loading-btn-state;

    .dx-button-content {
      &::before {
        background-image: url('/assets/images/spinner-blue.svg');
      }
    }
  }
}
