@use 'variables' as *;

$toolbarHeight: '85px';
$containerTopPadding: '30px';
$containerBottomPadding: '30px';
$availablePageHeight: calc(100vh - #{$toolbarHeight} - #{$containerTopPadding} - #{$containerBottomPadding});

.data-grid {
  height: auto;
  max-height: $availablePageHeight;
  min-height: max(250px, calc(#{$availablePageHeight} / 2));
}

.pending-approvals-section {
  margin-top: 30px;
}
