<div class="sidenav-container">
  <a href="#" routerLink="/" class="logo">
    <img ngSrc="/assets/images/logo.svg" alt="Dashboard logo" [width]="35" [height]="35" />
    <span>Angular Dashboard</span>
  </a>

  <div class="sidenav-menu">
    @for (item of items; track item.route) {
      <dx-button
        [text]="item.label"
        stylingMode="contained"
        [type]="rla.isActive ? 'default' : 'normal'"
        [routerLink]="item.route"
        [disabled]="!!item.disabled"
        height="45"
        width="100%"
        routerLinkActive
        #rla="routerLinkActive"
      ></dx-button>
    }
  </div>

  @if (currentUser.value(); as user) {
    <dx-drop-down-button
      stylingMode="outlined"
      [text]="user.fullName"
      [icon]="user.userAvatar"
      [showArrowIcon]="false"
      [items]="userDropdownItems"
      displayExpr="text"
      (onItemClick)="onUserDropdownAction($event)"
      height="48"
      width="100%"
      class="sidenav-user-btn"
    ></dx-drop-down-button>
  }
</div>

<main class="main">
  <ng-content select="router-outlet"></ng-content>
</main>
