<div class="sidenav-container">
  <a href="#" routerLink="/" class="logo">
    <img src="/assets/images/logo.svg" alt="Dashboard logo" />
    <span>Angular Dashboard</span>
  </a>

  <div class="sidenav-menu">
    <dx-button
      *ngFor="let item of items; trackBy: trackBy"
      [stylingMode]="rla.isActive ? 'contained' : 'text'"
      [text]="item.label"
      [type]="rla.isActive ? 'default' : 'normal'"
      [routerLink]="item.route"
      [disabled]="!!item.disabled"
      height="45"
      width="100%"
      routerLinkActive
      #rla="routerLinkActive"
    ></dx-button>
  </div>

  <dx-drop-down-button
    *ngIf="user$ | async as user"
    stylingMode="outlined"
    [text]="user.fullName"
    [icon]="user.userAvatar"
    [showArrowIcon]="false"
    [items]="userDropdownItems"
    displayExpr="text"
    (onItemClick)="onUserDropdown($event)"
    height="48"
    width="100%"
    class="sidenav-user-btn"
  ></dx-drop-down-button>
</div>

<main class="main">
  <ng-content select="router-outlet"></ng-content>
</main>
