:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  flex-grow: 1;
}

.flex-row {
  gap: 50px;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
