<ng-template #actionsTpl>
  <dx-button
    icon="spindown"
    text="Manage columns"
    [rtlEnabled]="true"
    stylingMode="outlined"
    [elementAttr]="{class: 'grid-column-chooser-btn'}"
    (onClick)="onShowColumnChooser()"
  />
  <dx-button icon="file" (onClick)="onExport()" stylingMode="outlined" />
  <dx-text-box placeholder="Search..." (keyup)="onSearch($event)" height="34" />
  <dx-button icon="plus" type="success" (onClick)="onAdd()" stylingMode="contained" />

  <ng-container #popupContainer />
</ng-template>

@if (isDataLoaded()) {
  <section class="content-section">
    <dx-data-grid
      class="data-grid"
      [dataSource]="accounts()"
      [showBorders]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [columnAutoWidth]="true"
      [remoteOperations]="false"
      (onCellPrepared)="onCellPrepared($event)"
    >
      <dxo-column-chooser mode="select" sortOrder="asc"></dxo-column-chooser>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-load-panel [enabled]="true" [indicatorSrc]="indicatorSrc"></dxo-load-panel>
      <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
      <dxi-column dataField="name" width="200px" caption="Account Name" cellTemplate="nameTemplate"></dxi-column>
      <div *dxTemplate="let data of 'nameTemplate'">
        <div class="text-ellipsis">{{ data.value }}</div>
      </div>
      <dxi-column dataField="number"></dxi-column>
      <dxi-column dataField="description" width="300px" cellTemplate="descriptionTemplate"></dxi-column>
      <div *dxTemplate="let data of 'descriptionTemplate'">
        <div class="text-ellipsis">{{ data.value }}</div>
      </div>
      <dxi-column dataField="archived" caption="Inactive" cellTemplate="inactiveTemplate"></dxi-column>
      <div *dxTemplate="let data of 'inactiveTemplate'">
        {{ data.value | booleanYesNo }}
      </div>
      <dxi-column dataField="type" cellTemplate="typeTemplate"></dxi-column>
      <div *dxTemplate="let data of 'typeTemplate'">
        {{ data.value | stringValueCapitalize }}
      </div>
      <dxi-column dataField="subtype" width="300px" caption="Sub-Type" cellTemplate="subtypeTemplate"></dxi-column>
      <div *dxTemplate="let data of 'subtypeTemplate'">
        <div class="text-ellipsis">{{ data.value }}</div>
      </div>
      <dxi-column dataField="naturalBalance" cellTemplate="naturalBalanceTemplate"></dxi-column>
      <div *dxTemplate="let data of 'naturalBalanceTemplate'">
        {{ data.value | stringValueCapitalize }}
      </div>
    </dx-data-grid>
    <dx-tooltip></dx-tooltip>
  </section>
} @else {
  <app-bg-spinner />
}
